var EndpointToRequestBodyMap = map[string]interface{}{
{{range .}}{{$opid := .OperationId -}}
    {{ $reqBody := genDefaultRequestBodyType . -}}{{if ne $reqBody "" -}}
        "{{$opid}}":{{genDefaultRequestBodyType .}}{},
    {{end -}}
{{end -}}
}